<div #welcome_back id="welcome_back" [style.height.px]="innerHeight" (click)="close()"></div>
<div id="welcome_container" (click)="close()">
    <div id="welcome_content" [style.top.px]="top">
        <div id="welcome_close" (click)="close()">X</div>
        <!-- <h2>¡Bienvenido a la web de Crónicas de un marinero desahuciado!</h2>
        <p>En esta web podrás descargar gratis o comprar el libro en formato NFT de Sir Javilinus Camp Roy y recibirás un NFT de la B.S.O. creada por <span class="author">Aram Cape</span></p>
        <p>¡Gracias por tu apoyo!</p> -->
        <h2>¡Bienvenido a nuestro sitio web que presenta "Crónicas de un marinero desahuciado", el conjunto de 10 libros NFT del artista Javilinus Camp Roy, y una canción exclusiva NFT del artista Aram Cape!</h2>
        <p>Estamos emocionados de brindarte una experiencia única y cautivadora que combina la literatura y la música con la tecnología revolucionaria de los tokens no fungibles. Nuestro conjunto de libros NFT ofrece un viaje reflexivo a través de los ojos de un marinero, mientras que la canción NFT es una expresión creativa de un artista emergente.</p>
        <p>En nuestro sitio web, nos comprometemos a brindarte la mejor experiencia posible y el contenido de la más alta calidad. Esperamos que disfrutes explorando nuestro conjunto de libros NFT y la canción NFT y brindes tu apoyo a estos talentosos artistas.</p>
        <p>Gracias por visitar nuestro sitio web, y esperamos que tengas un tiempo maravilloso descubriendo el mundo de "Crónicas de un marinero desahuciado" y el arte de Aram Cape.</p>
    </div>    
</div>
